img{
    width:150px;
    filter: drop-shadow(0 0 10px black);
    /* thank you mozilla*/
}
#loc>div{
    display: inline-block;
    padding:10px;
    border: solid thin black;
    margin:10px;
    border-radius: 10px;
}
#loc>div>div{
    text-align: center;
}